/*
gf_collapsible_sections.css
Gravity Forms Collapsible Sections Styles
http://jetsloth.com/gravity-forms-collapsible-sections/
*/
.gform_wrapper .gsection.collapsible-sections-field,
.collapsible-sections-field {
  cursor: pointer;
  padding: 10px 20px 10px 20px !important;
  margin: 24px 0 0 0 !important;
  border: 1px solid #ccc !important;
  border-radius: 16px 16px 16px 16px;
  background-color: #E6E9ED;
  color: #222426
  position: relative; }

.gform_wrapper .gsection.collapsible-sections-open,
.collapsible-sections-open {
  cursor: pointer;
  padding: 10px 20px 10px 20px !important;
  margin: 24px 0 0 0 !important;
  border-top: 1px solid #ccc !important;
  border-right: 1px solid #ccc !important;
  border-left: 1px solid #ccc !important;
  border-bottom: 0px solid #ccc !important;
  border-radius: 16px 16px 0px 0px;
  background-color: #E6E9ED;
  color: #222426
  position: relative; }

.collapsible-sections-field .gsection_title {
  position: relative;
  display: block; }

.gform_wrapper .collapsible-sections-field h2.gsection_title {
  padding-right: 30px !important; }

.gform_wrapper .collapsible-sections-field .gsection_title + .gsection_description {
  padding-right: 0;
  margin-bottom: 0; }

/* with slothicons */
.collapsible-sections-field .gsection_title:after {
  content: "\e900";
  font: 400 20px/1 slothicons !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.collapsible-sections-field.collapsible-sections-open .gsection_title:after {
  content: "\e901" !important; }

.collapsible-sections-icons-alt .collapsible-sections-field .gsection_title:after {
  content: "\e903" !important; }

.collapsible-sections-icons-alt .collapsible-sections-field.collapsible-sections-open .gsection_title:after {
  content: "\e902" !important; }

/* without slothicons */
.no-slothicons .collapsible-sections-field .gsection_title:after,
.no-slothicons.collapsible-sections-icons-alt .collapsible-sections-field .gsection_title:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 4px;
  border-style: solid;
  border-color: #000; }

.no-slothicons .collapsible-sections-field .gsection_title:after {
  transform: rotate(135deg) translate(-50%, 50%);
  border-width: 2px 2px 0 0; }

.no-slothicons .collapsible-sections-field.collapsible-sections-open .gsection_title:after {
  transform: rotate(-45deg) translate(20%, -20%); }

.no-slothicons.collapsible-sections-icons-alt .collapsible-sections-field .gsection_title:before {
  right: 8px;
  height: 14px;
  width: 2px;
  border-width: 2px;
  transform: translateY(-50%); }

.no-slothicons.collapsible-sections-icons-alt .collapsible-sections-field .gsection_title:after {
  width: 14px;
  height: 2px;
  border-width: 2px;
  transform: translateY(-50%);
  right: 3px; }

.no-slothicons.collapsible-sections-icons-alt .collapsible-sections-field.collapsible-sections-open .gsection_title:before {
  opacity: 0; }

.collapsible-sections-collapsible-body {
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0px 0px 16px 16px }
  .collapsible-sections-collapsible-body:after {
    content: "";
    display: table;
    clear: both; }
  .collapsible-sections-collapsible-body .gsection_description {
    padding: 0; }

.form-has-collapsible-sections.collapsible-sections-footer-inside_last .gform_footer {
  clear: both; }

.gform_wrapper .gfield.collapsible-sections-end-field.collapsible-sections-end-field-hidden {
  display: none !important; }

.gform_wrapper .gsection.collapsible-sections-field.collapsible-sections-section-error,
.collapsible-sections-field.collapsible-sections-section-error {
  border-color: #790000 !important;
  background-color: rgba(255, 223, 224, 0.25); }
  .gform_wrapper .gsection.collapsible-sections-field.collapsible-sections-section-error .gsection_title,
  .gform_wrapper .gsection.collapsible-sections-field.collapsible-sections-section-error .gsection_description,
  .gform_wrapper .gsection.collapsible-sections-field.collapsible-sections-section-error .gsection_title:after,
  .collapsible-sections-field.collapsible-sections-section-error .gsection_title,
  .collapsible-sections-field.collapsible-sections-section-error .gsection_description,
  .collapsible-sections-field.collapsible-sections-section-error .gsection_title:after {
    color: #790000; }

html:not(.slothicons-loaded) form:not(.no-slothicons) .collapsible-sections-field .gsection_title,
html:not(.slothicons-loaded) form:not(.no-slothicons) [class^="sothicon-"],
html:not(.slothicons-loaded) form:not(.no-slothicons) [class*=" sothicon-"],
html:not(.slothicons-loaded) form:not(.no-slothicons) [class^="sothicon-"]:before,
html:not(.slothicons-loaded) form:not(.no-slothicons) [class*=" sothicon-"]:before,
html:not(.slothicons-loaded) form:not(.no-slothicons) [class^="sothicon-"]:after,
html:not(.slothicons-loaded) form:not(.no-slothicons) [class*=" sothicon-"]:after {
  visibility: hidden !important; }


.collapsible-sections-field .gsection_title {
  position: relative;
  display: block; }

.gform_wrapper .collapsible-sections-field h2.gsection_title {
  padding-right: 30px !important; }

.gform_wrapper .collapsible-sections-field .gsection_title + .gsection_description {
  padding-right: 0;
  margin-bottom: 0; }

/* with slothicons */
.collapsible-sections-field .gsection_title:after {
  content: "\e900";
  font: 400 20px/1 slothicons !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.collapsible-sections-field.collapsible-sections-open .gsection_title:after {
  content: "\e901" !important; }

.collapsible-sections-icons-alt .collapsible-sections-field .gsection_title:after {
  content: "\e903" !important; }

.collapsible-sections-icons-alt .collapsible-sections-field.collapsible-sections-open .gsection_title:after {
  content: "\e902" !important; }

/* without slothicons */
.no-slothicons .collapsible-sections-field .gsection_title:after,
.no-slothicons.collapsible-sections-icons-alt .collapsible-sections-field .gsection_title:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 4px;
  border-style: solid;
  border-color: #222426; }

.no-slothicons .collapsible-sections-field .gsection_title:after {
  transform: rotate(135deg) translate(-50%, 50%);
  border-width: 2px 2px 0 0; }

.no-slothicons .collapsible-sections-field.collapsible-sections-open .gsection_title:after {
  transform: rotate(-45deg) translate(20%, -20%); }

.no-slothicons.collapsible-sections-icons-alt .collapsible-sections-field .gsection_title:before {
  right: 8px;
  height: 14px;
  width: 2px;
  border-width: 2px;
  transform: translateY(-50%); }

.no-slothicons.collapsible-sections-icons-alt .collapsible-sections-field .gsection_title:after {
  width: 14px;
  height: 2px;
  border-width: 2px;
  transform: translateY(-50%);
  right: 3px; }

.no-slothicons.collapsible-sections-icons-alt .collapsible-sections-field.collapsible-sections-open .gsection_title:before {
  opacity: 0; }

.collapsible-sections-collapsible-body {
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none; }
  .collapsible-sections-collapsible-body:after {
    content: "";
    display: table;
    clear: both; }
  .collapsible-sections-collapsible-body .gsection_description {
    padding: 0; }

.form-has-collapsible-sections.collapsible-sections-footer-inside_last .gform_footer {
  clear: both; }

.gform_wrapper .gfield.collapsible-sections-end-field.collapsible-sections-end-field-hidden {
  display: none !important; }

.gform_wrapper .gsection.collapsible-sections-field.collapsible-sections-section-error,
.collapsible-sections-field.collapsible-sections-section-error {
  border-color: #790000 !important;
  background-color: rgba(255, 223, 224, 0.25); }
  .gform_wrapper .gsection.collapsible-sections-field.collapsible-sections-section-error .gsection_title,
  .gform_wrapper .gsection.collapsible-sections-field.collapsible-sections-section-error .gsection_description,
  .gform_wrapper .gsection.collapsible-sections-field.collapsible-sections-section-error .gsection_title:after,
  .collapsible-sections-field.collapsible-sections-section-error .gsection_title,
  .collapsible-sections-field.collapsible-sections-section-error .gsection_description,
  .collapsible-sections-field.collapsible-sections-section-error .gsection_title:after {
    color: #790000; }

html:not(.slothicons-loaded) form:not(.no-slothicons) .collapsible-sections-field .gsection_title,
html:not(.slothicons-loaded) form:not(.no-slothicons) [class^="sothicon-"],
html:not(.slothicons-loaded) form:not(.no-slothicons) [class*=" sothicon-"],
html:not(.slothicons-loaded) form:not(.no-slothicons) [class^="sothicon-"]:before,
html:not(.slothicons-loaded) form:not(.no-slothicons) [class*=" sothicon-"]:before,
html:not(.slothicons-loaded) form:not(.no-slothicons) [class^="sothicon-"]:after,
html:not(.slothicons-loaded) form:not(.no-slothicons) [class*=" sothicon-"]:after {
  visibility: hidden !important; }
